.b-button {
    cursor: pointer;
    font-size: 1.2em;
    cursor: pointer;
    color: #FFFFFF;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    height: 46px;
    text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.8);
    display: inline-block;
}

.b-button:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.b-button--disabled {
	cursor: not-allowed;
}

.b-button--submit {
    border: solid 1px #3B9A00;
    background: -webkit-linear-gradient(bottom, #80C420 31%, #A0D63C 77%);
    background: linear-gradient(0deg, #80C420 31%, #A0D63C 77%);
}

.b-button--reset {
	float: right;
}

.b-button--reset-primary {
    border: solid 1px #A4202A;
    background: -webkit-linear-gradient(bottom, #F13A4A 31%, #F65E70 77%);
    background: linear-gradient(0deg, #F13A4A 31%, #F65E70 77%);
}

.b-button--reset-secondary {
    border: solid 1px #90CA6D;
    background: -webkit-linear-gradient(bottom, #ACD182 31%, #C5E0A4 77%);
    background: linear-gradient(0deg, #ACD182 31%, #C0E0A4 77%);
}

.b-button--size-big {
    width: 100%;
}

.b-button--size-small {
    width: 40%;
    display: inline-block;
}