.b-button {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    height: 40px;
    opacity: 0.9;
    text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.8);
}

.b-button:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
}

.b-button--disabled {
    cursor: not-allowed;
}

.b-button--submit {
    background: linear-gradient(0deg, #80C420 31%, #A0D63C 77%);
    border: solid 1px #3B9A00;
}

.b-button--reset {
    float: right;
}

.b-button--reset-primary {
    background: linear-gradient(0deg, #F13A4A 31%, #F65E70 77%);
    border: solid 1px #A4202A;
}

.b-button--reset-secondary {
    background: linear-gradient(0deg, #ACD182 31%, #C0E0A4 77%);
    border: solid 1px #90CA6D;
}

.b-button--size-big {
    width: 100%;
}

.b-button--size-small {
    display: inline-block;
    width: 40%;
}