.b-section {
    clear: both;
    margin: auto;
    max-width: 455px;
}

.b-form-container {
    background-color: lightgrey;
    background-color: rgba(7, 7, 7, 0.231);
    box-sizing: content-box;
    margin-top: 5px;
    padding: 10px;
}

.b-form {
    background-color: #F8F8F8;
    box-sizing: content-box;
    padding: 10px;
}

.b-form-item {
    border: 1px solid grey;
    border: 1px solid rgba(195, 195, 195, 0.8);
    margin: 0;
    margin-bottom: 10px;
    position: relative;
}

.b-form-input {
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 40px;
    padding-left: 8px;
    width: 100%;
}

.b-form-input:focus,
.b-checkbox-container__control:focus {
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    outline: none;
}

.b-form-input:required:invalid {
    outline-width: 0;
}

.b-form-input__arrow {
    opacity: 1;
    position: absolute;
    right: 5px;
    top: calc(50% - 4px);
}

.b-form-input__icon {
    left: 5px;
    position: absolute;
    top: calc(50% - 13px);
}

.b-form-input--no-border {
    border: none;
    margin-left: 46px;
}

.b-form-input--multiline {
    box-sizing: border-box;
    height: 100px;
    overflow: auto;
    padding-left: 8px;
    padding-top: 10px;
    resize: vertical;
    width: 100%;
}

.b-form-input--check {
    display: none;
}

.b-form-input--check:checked + label::before {
    background: -moz-linear-gradient(0deg, #80C420 31%, #A0D63C 77%);
    background: -ms-linear-gradient(0deg, #80C420 31%, #A0D63C 77%);
    background: -o-linear-gradient(0deg, #80C420 31%, #A0D63C 77%);
    background: -webkit-gradient(linear, 0 0, 100% 0, color-stop(0.31, #80C420), color-stop(0.77, #A0D63C));
    background: -webkit-linear-gradient(0deg, #80C420 31%, #A0D63C 77%);
    background: linear-gradient(0deg, #80C420 31%, #A0D63C 77%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    content: '';
    height: 12px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 12px;
}

.b-checkbox-container {
    margin-bottom: 10px;
    position: relative;
}

.b-checkbox-container__control {
    border: 1px solid grey;
    border: 1px solid rgba(195, 195, 195, 0.8);
    box-sizing: border-box;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    width: 20px;
}

.b-checkbox-container__label {
    font-size: 0.8em;
    line-height: 20px;
    width: 100%;
}

.b-form-input--multi-option {
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
}

.b-form-input--multi-option::-ms-expand {
    display: none;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: inherit;
}