.b-section {
    max-width: 420px;
    clear: both;
}

.b-form-container  {
    background-color: rgba(7, 7, 7, 0.231);
    max-width: 415px;
    margin-top: 5px;
    padding: 20px;
}

.b-form  {
    background-color: #F8F8F8;
    max-width: 370px;
    padding: 22px;
}

.b--shadowed {
	background-color: #F8F8F8;
	box-shadow: inset 0px -20px 43px -40px rgba(0,0,0,0.75);
}

.b--transparent {
	background-color: transparent;
}

.b--flexible {
	display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.b-form-item {
	padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid rgba(195, 195, 195, 0.8);
    position: relative;
}

.b-form-item--focused {
	border: 1px solid grey;
    box-shadow: inset 0px -20px 43px -30px rgba(0,0,0,0.75);
}

.b-form-item--hovered {
	box-shadow: inset 0px -20px 43px -35px rgba(0,0,0,0.75);
}

.b-form-input {
	 width: 100%;
	 padding-left: 23px;
	 outline: none;
}

.b-form-input--no-border {
	border: none;
    border-left: 1px solid rgba(195, 195, 195, 0.8);
    margin-left: 23px;
    height: 30px;
    color: #AFAFAF;
}

.b-form-input--multiline {
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    overflow: auto;
    resize: vertical;
}

.b-form-input--check {
	display: none;
}

.b-form-input--check + label::before {
 	content: '';
    width: 26px;
    height: 26px;
    border: 1px solid rgba(195, 195, 195, 0.8);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.74902) 0px -20px 43px -40px inset;
    margin: 0 10px 0 0 ;
    position: relative;
    top: -3px;
    cursor: pointer;
    display: block;
 }

 .b-form-input--check:checked + label::before {
 	background-image: url('../images/spritesheet.png');
    background-position: -25px 1px;
 }

.b-form-input--multi-option {
	width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none
}

.b-form-input--multi-option::-ms-expand {
    display: none;
}