.b-section {
    clear: both;
    max-width: 420px;
}

.b-form-container  {
    background-color: lightgrey;
    background-color: rgba(7, 7, 7, 0.231);
    margin-top: 5px;
    max-width: 415px;
    padding: 20px;
}

.b-form  {
    background-color: #F8F8F8;
    max-width: 370px;
    padding: 22px;
}

.b--shadowed {
	background-color: #F8F8F8;
	box-shadow: inset 0 -20px 43px -40px grey;
	box-shadow: inset 0 -20px 43px -40px rgba(0,0,0,0.75);
}

.b--transparent {
	background-color: transparent;
}

.b--flexible {
	display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.b-form-item {
    border: 1px solid grey;
    border: 1px solid rgba(195, 195, 195, 0.8);
    margin: 0;
    margin-bottom: 10px;
	padding: 5px;
    position: relative;
}

.b-form-item--focused {
	border: 1px solid grey;
	box-shadow: inset 0 -20px 43px -30px grey;
    box-shadow: inset 0 -20px 43px -30px rgba(0,0,0,0.75);
}

.b-form-item--hovered {
    box-shadow: inset 0 -20px 43px -35px grey;
	box-shadow: inset 0 -20px 43px -35px rgba(0,0,0,0.75);
}

.b-form-input {
	 box-sizing: content-box;
	 color: inherit;
	 font-family: inherit;
	 font-size: inherit;
	 padding-left: 23px;
	 width: 100%;
}

.b-form-input--no-border {
	border: none;
	border-left: 1px solid lightgrey;
    border-left: 1px solid rgba(195, 195, 195, 0.8);
    height: 30px;
    margin-left: 23px;
}

.b-form-input--multiline {
	box-sizing: content-box;
    height: 100px;
    overflow: auto;
    padding-left: 10px;
    padding-top: 10px;
    resize: vertical;
    width: calc(100% - 17px);
}

.b-form-input--check {
	display: none;
}

.b-form-input--check + label::before {
    border: 1px solid lightgrey;
    border: 1px solid rgba(195, 195, 195, 0.8);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.74902) 0 -20px 43px -40px inset;
 	box-sizing: content-box;
 	content: '';
    cursor: pointer;
    display: block;
    height: 25px;
    margin: 0 10px 0 0 ;
    position: relative;
    top: -3px;
    width: 25px;
 }

 .b-form-input--check:checked + label::before {
    background-position: -25px 1px;
 }

.b-form-input--multi-option {
    -moz-appearance: none;
    -webkit-appearance: none;
	width: 100%;
}

.b-form-input--multi-option::-ms-expand {
    display: none;
}

::-webkit-input-placeholder {
   color: inherit;
}

:-moz-placeholder {
   color: inherit;
}

::-moz-placeholder {
   color: inherit;
}

:-ms-input-placeholder {
   color: inherit;
}