html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-family: 'Titillium Web', sans-serif;
   color: #AFAFAF;
}

*, *:before, *:after {
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   box-sizing: inherit;
   font-family: inherit;
   color: inherit;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.b-heading {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.6em;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 3px 3px rgba(30, 30, 30, 0.8);
}

.b--rounded {
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}