.sprite {
    background-image: url('../images/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
    margin: 2px 0 0 10px;
}

.sprite-arrow {
    width: 16px;
    height: 8px;
    background-position: -5px -5px;
    position: absolute;
    right: 10px;
    top: 15px;
    opacity: 1;
}

.sprite-checkbox {
    width: 13px;
    height: 14px;
    background-position: -31px -5px;
}

.sprite-email {
    width: 28px;
    height: 26px;
    background-position: -54px -5px;
}

.sprite-location {
    width: 28px;
    height: 26px;
    background-position: -88px -5px;
}

.sprite-logo-bottom {
    width: 353px;
    height: 130px;
    background-position: -5px -41px;
}

.sprite-logo-top {
    width: 434px;
    height: 116px;
    background-position: -5px -181px;
}

.sprite-password {
    width: 28px;
    height: 26px;
    background-position: -122px -5px;
}

.sprite-phone {
    width: 28px;
    height: 26px;
    background-position: -156px -5px;
}

.sprite-username {
    width: 28px;
    height: 26px;
    background-position: -190px -5px;
}
