.b-sprite {
	background-image: url('../images/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}

.b-sprite--arrow {
    background-position: -5px -5px;
    height: 8px;
    width: 16px;
}

.b-sprite--checkbox {
    background-position: -31px -5px;
    height: 14px;
    width: 13px;
}

.b-sprite--email {
    background-position: -54px -5px;
    height: 26px;
    width: 32px;
}

.b-sprite--location {
    background-position: -88px -5px;
    height: 26px;
    width: 32px;
}

.b-sprite--logo-bottom {
    background-position: -5px -41px;
    height: 132px;
    width: 353px;
}

.b-sprite--logo-top {
    background-position: -5px -181px;
    height: 116px;
    width: 434px;
}

.b-sprite--password {
    background-position: -122px -5px;
    height: 26px;
    width: 32px;
}

.b-sprite--phone {
    background-position: -156px -5px;
    height: 26px;
    width: 32px;
}

.b-sprite--username {
    background-position: -190px -5px;
    height: 26px;
    width: 32px;
}